<!-- Outer Row -->
<div class="row justify-content-center">

  <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Verify your phone number</h1>
              </div>
              <form class="user">
                <div class="alert alert-warning" *ngIf="errorMessage !== ''">

                  <i class="bi bi-cone-striped"></i>

                  <span><b> Warning - </b> {{errorMessage}}</span>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="inputCode"
                         name="inputCode" placeholder="####"
                         [(ngModel)]="otp">
                </div>
                <div class="row">
                  <div class="mb-3">
                    <div class="alert alert-warning"
                         *ngIf="errorMessage !== ''">

                      <i class="bi bi-cone-striped"></i>

                      <span><b> Warning - </b> {{errorMessage}}</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="mb-3">
                    <a (click)="verifyOtp()" class="btn btn-primary btn-user btn-block">
                      Verify
                    </a>
                  </div>
                </div>

                <div class="small text-center">
                  Didn't get your code? <a [routerLink]="[ '/signup' ]">Try again.</a>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---
<p class="lead">Verify your phone number</p>

<div>
  <form>
    <div class="row">
      <div class="mb-3">
        <label for="inputCode">Code</label>
        <input type="text" class="form-control" id="inputCode" name="inputCode" placeholder="####"
               [(ngModel)]="otp">
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <div class="alert alert-warning" *ngIf="errorMessage !== ''">

          <i class="bi bi-cone-striped"></i>

          <span><b> Warning - </b> {{errorMessage}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <button class="btn btn-primary btn-round" (click)="verifyOtp()">Submit</button>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <p class="text-muted">Didn't get your code? <a [routerLink]="[ '/signup' ]">Try again.</a></p>
      </div>
    </div>
  </form>
</div>
-->
