
<p class="lead">Verify your phone number</p>

<div>
  <form>
    <div class="row">
      <div class="mb-3">
        <label for="inputCode">Code</label>
        <input type="text" class="form-control" id="inputCode" name="inputCode" placeholder="####"
               [(ngModel)]="otp">
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <div class="alert alert-warning" *ngIf="errorMessage !== ''">

          <i class="bi bi-cone-striped"></i>

          <span><b> Warning - </b> {{errorMessage}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <button class="btn btn-primary btn-round" (click)="verifyOtp()">Submit</button>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <p class="text-muted">Didn't get your code? <a [routerLink]="[ '/signup' ]">Try again.</a></p>
      </div>
    </div>
  </form>
</div>
