<!-- Page Wrapper -->
<div id="wrapper">

  <app-sidebar></app-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <app-topbar></app-topbar>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="form-group row">

          <!-- Therapist Phone Number Card -->
          <div class="col-sm-12 col-md-4 card-stack-bottom-margin">
            <!-- Emotions Graph -->
            <div class="card border-left-dark shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                      Your 24/7 Therapist
                    </div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 text-gray-800">
                          <a href="sms:18333595081">+1 (833) 359-5081</a>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-mobile-screen fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Current Mood Card -->
          <div class="col-sm-12 col-md-4 card-stack-bottom-margin">
            <!-- Sentiment Meter -->
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Strongest Emotion Expressed
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                      <!--<i class="fa-regular fa-heart"></i>-->
                      <p class="dailyEmotionLabel">{{ dailyEmotion }}</p>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dna fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Overall Positivity Card -->
          <div class="col-sm-12 col-md-4 card-stack-bottom-margin">
            <!-- Emotions Graph -->
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                      Overall Positivity Score
                    </div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ positivityPercentage }}
                          %
                        </div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div class="progress-bar bg-info" role="progressbar" [style.width.%]="positivityPercentage"
                            [attr.aria-valuenow]="positivityPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Emotion Score Graph -->
        <div class="row">
          <div class="mb-12">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Emotion Scores</h6>
              </div>
              <div class="card-body">

                <div class="chart-area">
                  <app-daily-emotion-graph [dailyAverages]="dailyAverages"></app-daily-emotion-graph>
                </div>
                <hr>

                <small class="text-muted">Today's score is not set in stone! We can
                  move it any direction we want. 😌</small>

              </div>
            </div>
          </div>
        </div>

        <!-- Vader Graph -->
        <div class="row">
          <div class="mb-12">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Mood Events</h6>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <app-vader-graph [entries]="emotionScores"></app-vader-graph>
                </div>
                <hr>
                <small class="text-muted">
                  We all have ups and downs! This is how your mood has been changing. 🎢
                </small>
              </div>
            </div>
          </div>
        </div>

        <!-- Nudges -->
        <div class="row">
          <div class="mb-12">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gentle Nudges</h6>
              </div>
              <div class="card-body">
                <form class="user">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12">
                        <p>
                          👋 If you haven't checked in within the last last six hours, we'll
                          send you a gentle nudge. We don't recommend it, but you can turn this feature
                          off below:
                        </p>
                        <a (click)="toggleNudges()" class="btn-user btn-block"
                          [ngClass]="user.nudge_enabled ? 'btn btn-success' : 'btn btn-secondary'">

                          <small *ngIf="user.nudge_enabled; else bellSlashIcon" class="bi bi-bell"></small>
                          <ng-template #bellSlashIcon><small class="bi bi-bell-slash"></small></ng-template>

                          Toggle nudges {{ user.nudge_enabled ? 'off' : 'on' }}
                        </a>

                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>



        <!-- User Profile Card -->
        <div class="row">
          <div class="col-sm-12">
            <!-- User Profile Form -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="/profile#collapseCardUserProfileForm" class="d-block card-header py-3" data-toggle="collapse"
                role="button" aria-expanded="true" aria-controls="collapseCardUserProfileForm">
                <h6 class="m-0 font-weight-bold text-primary">User Information</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardUserProfileForm">
                <div class="card-body">

                  <form class="user">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <label for="inputFirstname">First Name</label>
                          <input type="text" class="form-control form-control-user" id="inputFirstname"
                            name="inputFirstname" placeholder="" [(ngModel)]="user.firstname">
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <label for="inputLastname">Last Name</label>
                          <input type="text" class="form-control form-control-user" id="inputLastname"
                            name="inputLastname" placeholder="" [(ngModel)]="user.lastname">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <label for="inputEmail">Email Address</label>
                          <input type="text" class="form-control form-control-user" id="inputEmail" name="inputEmail"
                            placeholder="" [(ngModel)]="user.email">
                        </div>
                      </div>
                      <div class="row">
                        <div class="mb-3">
                          <div class="alert alert-warning" *ngIf="errorMessage !== ''">

                            <small class="bi bi-cone-striped"></small>

                            <span>{{errorMessage}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <a (click)="updateProfile()" (disabled)="!user.firstname || !user.lastname || !user.email"
                            class="btn btn-primary btn-user btn-block">
                            <small class="bi bi-floppy2"></small> Update Profile
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>


                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Equilibria 2024</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
