<div class="container-liquid">
  <!-- left pane -->
  <div class="row">
    <div class="col-sm-12 col-md-3">

      <h2><i class="bi bi-clipboard2-pulse-fill"></i> {{ user.firstname }}</h2>

      <p class="profile-page-telephone-badge">
        <button type="button" class="btn btn-primary">
          <i class="bi bi-telephone"></i> {{ user.phone_number }}
        </button>
      </p>
    </div>
    <!-- right pane -->
    <div class="col-sm-12 col-md-9">

      <h2>Profile</h2>

      <form>
        <div class="container">
          <div class="row">
            <div class="col">
              <label for="inputFirstname">First Name</label>
              <input type="text" class="form-control" id="inputFirstname" name="inputFirstname" placeholder=""
                     [(ngModel)]="user.firstname">
            </div>
            <div class="col">
              <label for="inputLastname">First Name</label>
              <input type="text" class="form-control" id="inputLastname" name="inputLastname" placeholder=""
                     [(ngModel)]="user.lastname">
            </div>
          </div>
          <div class="row">
            <div class="col">
            <label for="inputEmail">Email Address</label>
            <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder=""
                   [(ngModel)]="user.email">
          </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <div class="alert alert-warning" *ngIf="errorMessage !== ''">

                <i class="bi bi-cone-striped"></i>

                <span><b> Warning - </b> {{errorMessage}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" (click)="updateProfile()" class="btn btn-success">
                <i class="bi bi-floppy2"></i>
                Update
              </button>

              <button type="button" (click)="signOut()" class="btn btn-success">
                <i class="bi bi-door-closed"></i>
                Sign Out
              </button>
            </div>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>
