  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-light sidebar sidebar-light accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fa fa-brain"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Equilibria</div>
      <span class="badge badge-info">Beta</span>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/profile">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      My Reports
    </div>

    <li class="nav-item">
      <a class="nav-link" href="/personal-report">
        <i class="bi fa-book-reader"></i>
        <span>Personal Report</span> &nbsp;
        <small class="small badge-pill badge-success">Pro</small>
      </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item">
      <a class="nav-link" (click)="signOut()">
        <i class="bi bi-door-closed"></i>
        <span>Sign Out</span>
      </a>
    </li>


  </ul>
  <!-- End of Sidebar -->
