<!-- Outer Row -->
<div class="row justify-content-center">

  <div class="col-sm-12 col-md-9 col-lg-10">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user"
                           id="inputFirstname"
                           name="inputFirstname" placeholder="First name"
                           [(ngModel)]="firstname">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user"
                           id="inputLastname"
                           name="inputLastname" placeholder="Last name"
                           [(ngModel)]="lastname">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">

                    <input type="phone" class="form-control form-control-user"
                           id="inputPhoneNumber"
                           name="inputPhoneNumber" placeholder="Phone Number"
                           [(ngModel)]="phoneNumber">
                  </div>
                  <div class="col-sm-6">

                    <input type="phone" class="form-control form-control-user"
                           id="inputEmail"
                           name="inputEmail" placeholder="Email"
                           [(ngModel)]="email">

                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user"
                           id="inputPassword"
                           name="inputPassword" placeholder="Password"
                           [(ngModel)]="password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user"
                           id="inputPassword2"
                           name="inputPassword2" placeholder="Verify Password"
                           [(ngModel)]="password2">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <span><small class="text-muted">If you were given a provider code, enter it here</small></span>

                    <input type="text" class="form-control form-control-user"
                           id="providerCode" name="providerCode"
                           placeholder="⚕️ Provider Code"
                           [(ngModel)]="providerCode">
                  </div>
                </div>

                <div class="alert alert-warning" *ngIf="errorMessage !== ''">

                  <i class="bi bi-cone-striped"></i>

                  <span><b> Warning - </b> {{errorMessage}}</span>
                </div>

                <a (click)="signup()" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a>
                <hr>
                <a href="index.html" class="disabled btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="disabled btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              </form>
              <hr>
              <!--
              <div class="small text-center">
                <a href="#forgot-password">Forgot Password?</a>
              </div>
              -->
              <div class="small text-center">Already have an account?
                <a [routerLink]="[ '/login' ]">
                  Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
